* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.section-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.nav-container{
  height: 45vh;
}
.nav-center {
  margin-top: 2rem;
  background-color: white;
  border: solid 1px ;
  border-radius: 10px;
  width: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h4 {
  padding: 0.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.2rem;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btnn {
  border-radius: 5px;
  border: solid 1px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  width: 8rem;
  height: 3rem;
}
h2 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 0.5rem;
  font-size: 2.5rem;
}
.color{
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2.5rem;
}
